<br><label for="recipe_name">Name:</label><br>
<input id="recipe_name" name="recipe[name]" type="text" value="<%= @recipe.name %>"><br><br>
<label for="recipe_ingredients">Ingredients:<br><em>(each item on new line)</em></label><br>
<textarea id="recipe_ingredients" name="recipe[ingredients]" rows=5 ><%= @recipe.ingredients %></textarea><br><br>
<label for="recipe_directions">Directions:<br><em>(each step on new line)</em></label><br>
<textarea id="recipe_directions" name="recipe[directions]" rows=5><%= @recipe.directions %></textarea><br><br>

<label>Tags:</label>
<br><em>Current Tags</em><br>
<% @recipe.tags.sort_by{|i| i.name}.each do |tag| %>
  <label class="checkbox-inline">
    <input type="checkbox" name="tags_id[]" value="<%= tag.id %>" checked><%= tag.name %></input></label>
<% end %>
<br><br><em>Other Possible Tags</em><br>
<% tags_not_used = @tags - @recipe.tags %>
<% tags_not_used.sort_by{|i| i.name}.each do |tag| %>
  <label class="checkbox-inline">
    <input type="checkbox" name="tags_id[]" value="<%= tag.id %>"><%= tag.name %></input></label>
<% end %>

<br><br>
