<!DOCTYPE html>
<html>
<head>
  <title>Recipes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<%= flash[:notice] %>

<%= yield %>

<div class = "navbar navbar-default navbar-fixed-bottom">
  <div class"container">
    <a href="/" class="navbar-text pull-left">Recipe Page</a>
    <a href="/tags" class="navbar-text pull-left">Tags Page</a>
  </div>
</div>

</div>
</body>
</html>
